// general parameters
params {
    output = "results"
}

// pipeline metadata: name and version
manifest {
    name = "nf-wgs-snp"
    version = "1.0.0"
}

profiles {
    prod {
        docker {
            enabled = true
            fixOwnership = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        process {
            //deafult value of cpus for all the processes, unless otherwise stated
            cpus = 4
            
            withName: "genome_downloader" {
                publishDir = [path: "${params.output}/references", mode: "copy"]
            }
            withName: "flagstat" {
                publishDir = [path: "${params.output}/logs", mode: "copy"]
            }
            withName: "markduplicates" {
                publishDir = [path: "${params.output}/logs", mode: "copy", pattern: "*.txt"]
            }
            withName: "indexbam" {
                publishDir = [path: "${params.output}/bam_files", mode: "copy"]
            }
            withName: "fix_names" {
                publishDir = [path: "${params.output}/references", mode: "copy", pattern: "assembly_report.txt"]
            }
            withName: "vcf_annotation" {
                publishDir = [path: "${params.output}/vcf_files", mode: "copy"]
            }
        }
    }
}
