// general parameters
params {
    output = "results"
    snpeff = false
}

// pipeline metadata: name and version
manifest {
    name = "nf-wgs-snp"
    version = "1.1.0"
}

profiles {
    prod {
        docker {
            enabled = true
            fixOwnership = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        process {
            //deafult resources for all the processes, unless otherwise stated
            cpus = 1
            memory = "4 GB"
            
            withName: "genome_downloader" {
                publishDir = [path: "${params.output}/references", mode: "copy"]
            }
            withName: "snpeff_accession" {
                cpus = 4
            }
            withName: "bwa_mem" {
                cpus = 4
            }
            withName: "flagstat" {
                publishDir = [path: "${params.output}/logs", mode: "copy"]
            }
            withName: "markduplicates" {
                cpus = 4
                publishDir = [path: "${params.output}/logs", mode: "copy", pattern: "*.txt"]
            }
            withName: "indexbam" {
                publishDir = [path: "${params.output}/bam_files", mode: "copy"]
            }
            withName: "filtervcf" {
                publishDir = [path: "${params.output}/vcf_files", mode: "copy"]
            }
            withName: "fix_names" {
                cpus = 2
                publishDir = [path: "${params.output}/references", mode: "copy", pattern: "assembly_report.txt"]
            }
            withName: "vcf_annotation" {
                cpus = 4
                publishDir = [path: "${params.output}/vcf_files", mode: "copy"]
            }
        }
    }
}
