//general parameters
params {
    output = "results"
}

//pipeline metadata: name and version
manifest {
    name = "wgs-snp"
    version = "0.1.0"
}

profiles {
    prod {
        docker {
            enabled = true
            fixOwnership = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        process {
            //deafult value of cpus for all the processes, unless otherwise stated
            cpus = 8

            withName: "flagstat" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [path: "${params.output}/logs", mode: "copy"]
            }
            withName: "markduplicates" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [
                  //  [path: "${params.output}/bam_files", mode: "copy", pattern: "*.bam"],
                    [path: "${params.output}/logs", mode: "copy", pattern: "*.txt"]
                ]
            }
            withName: "indexbam" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [path: "${params.output}/bam_files", mode: "copy"]
            }
            withName: "vcf_annotation" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [path: "${params.output}/vcf_files", mode: "copy"]
            }
        }
    }
}
